/*******************************************************************************************/
/************************************** Common Styles **************************************/
/*******************************************************************************************/
.container {
	max-width: 1200px;
	padding: 0;
}

.row {
	padding: 0;
}

[class^=col-] {
	padding: 0;
}

.bottom_line {
	position: relative;
}

.bottom_line:before {
	position: absolute;
	content: '';
	width: 60px;
	height: 6px;
	background-color: #FFD914;
	left: 0;
	bottom: 0;
}

.custom_btn {
	width: 200px;
	height: 60px;
	border: 4px solid #577BEF;
	text-align: center;
	font-family: 'Proxima Nova Rg', serif;
	color: #1f2341;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	transition: all .3s ease-in-out;
}

.custom_btn:hover {
	border-color: #1f2341;
	color: #577BEF;
}

.custom_btn_two {
	max-width: 250px;
	width: 100%;
	height: 60px;
	background-color: #EC3E34;
	color: #fff;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Proxima Nova Rg', serif;
	transition: all .3s ease-in-out;
	border: 4px solid transparent;
}

.custom_btn_two:hover {
	border-color: #EC3E34;
	color: #577BEF;
	background-color: transparent;

}

.social_btn {
	background-color: #3A5997;
	color: #fffefe;
	font-size: 18px;
	border-radius: 5px;
	height: 60px;
	max-width: 285px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-family: 'Proxima Nova Rg', serif;
	transition: all .3s ease-in-out;
	border: 4px solid transparent;
}

.social_btn:hover {
	border-color: #3A5997;
	color: #fff;
	background-color: transparent;

}

.sub_btn {
	width: 100%;
	background-color: #EC3E34;
	color: #fff !important;
	font-size: 20px;
	font-family: 'Proxima Nova Rg', serif;
	transition: all .3s ease-in-out;
}

.sub_btn:hover {
	background-color: #3a5997 !important;
}

.social_btn i {
	font-size: 25px;
	margin-right: 15px;
}

.sidebar_btn {
	width: 200px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 20px;
	background-color: #577BEF;
	margin-top: 25px;
	border: 3px solid transparent;
	transition: all .3s ease-in-out;
}

.sidebar_btn:hover {
	background-color: transparent;
	border: 3px solid #fff;
	color: #fff;
}

.text_bg {
	position: absolute;
	z-index: -1;
	top: 60px;
	left: -60px;
}

.text_bg span {
	font-size: 150px;
	color: #fafafa;
	line-height: 0;
	white-space: nowrap;
}

.alt.text_bg {
	top: 60px;
	right: -120px;
	left: auto;
}

.title.bottom_line h3 {
	text-transform: uppercase;
	color: #000;
}

.title.bottom_line {
	padding-bottom: 35px;
}

.video_content {
	position: relative;
}

.play {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100px;
	transform: translateX(-50%) translateY(-50%);
	transition: all .3s ease-in-out;
}

.play:hover {
	transform: translateX(-50%) translateY(-50%) scale(.9);
}

input,
input::placeholder {
	color: #222222 !important;
	font-size: 20px !important;
	font-family: 'Proxima Nova Rg', serif !important;
}

.art_l_social ul {
	display: flex;
	flex-wrap: wrap;
}

.art_l_social ul li {
	margin-right: 10px;
}

.art_l_social ul li a {
	width: 120px;
	height: 40px;
	font-family: 'Georgia';
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #fff;
	border: 3px solid transparent;
	transition: all .3s ease-in-out;
}

.art_l_social ul li a.facebook {
	background-color: #3B5A99;
}

.art_l_social ul li a.facebook:hover {
	border-color: #3B5A99;
	background-color: rgba(255, 255, 255, 1);
	color: #3B5A99;
}

.art_l_social ul li a.twitter {
	background-color: #24A9E0;
}

.art_l_social ul li a.twitter:hover {
	border-color: #24A9E0;
	background-color: rgba(255, 255, 255, 1);
	color: #24A9E0;
}

.art_l_social ul li a.linkedin {
	background-color: #3B5A99;
}

.art_l_social ul li a.linkedin:hover {
	border-color: #3B5A99;
	background-color: rgba(255, 255, 255, 1);
	color: #3B5A99;
}

.art_l_social ul li a.share {
	background-color: #EC3E34;
	text-transform: uppercase;
	font-size: 20px;
}

.art_l_social ul li a.share i {
	margin-left: 12px;
}

.art_l_social ul li a.share:hover {
	border-color: #EC3E34;
	background-color: rgba(255, 255, 255, 1);
	color: #EC3E34;
}

.read_more_line {
	max-width: 550px;
	display: flex;
	justify-content: space-between;
	color: #577bef;
	font-size: 20px;
	margin-top: 10px;
}

.read_more_line a:hover {
	text-decoration: underline;
}

.read_more_line:before {
	margin-top: 16px;
	content: '';
	height: 1px;
	width: calc(100% - 100px);
	background-color: #D4D4D4;
}


/*Slick Settings*/
/*--------------------------------------------*/
.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-dots li button {
	display: none;
}

.slick-dots li {
	width: 5px;
	height: 5px;
	background-color: #222;
	margin: 0 10px;
	opacity: .5;
	border-radius: 50%;
	transition: all .2s ease-in-out;
}

.slick-dots {
	margin-top: -20px;
}

.slick-dots .slick-active {
	opacity: 1;
	transform: scale(1.5);
}

/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
