@media only screen and (max-width: 1500px) {

	/*	Learning Section */
	/*------------------------------------------*/
	.learning_section .inner_content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.learning_section .text_content {
		max-width: 50%;
		width: 100%;
		padding-right: 20px;
	}

	.learning_section .video {
		max-width: 50%;
		position: unset;
		transform: none;
	}

	/*------------------------------------------*/
}

@media only screen and (max-width: 1280px) {
	.container {
		padding: 0 15px;
	}

	section {
		padding: 60px 0px !important;
	}

	h1 {
		font-size: 70px;
	}

	h2 {
		font-size: 50px;
	}

	h3 {
		font-size: 40px;
	}

	p {
		line-height: 1.3;
		font-size: 18px !important;
	}

	.text_bg {
		top: 40px;
		left: 0;
	}

	.text_bg span {
		font-size: 100px;
	}

	.alt.text_bg {
		top: 40px;
		right: auto;
		left: 50%;
	}

	.art_l_social ul li a {
		width: 120px !important;
		font-size: 16px !important;
	}

	.title.bottom_line {
		padding-bottom: 20px;
	}

	/*	Main Navigatiion => Header*/
	/*------------------------------------------*/
	.topbar h6 {
		margin-left: 0;
		line-height: 1.6;
	}

	.navbar {
		padding: 0;
	}

	.navbar-nav .nav-item .nav-link {
		font-size: 14px;
		padding: 0 20px;
	}

	/*------------------------------------------*/
	/*	Home Banner*/
	/*------------------------------------------*/
	.home_banner .banner_img {
		max-width: 520px;
	}

	/*------------------------------------------*/
	/*	Learning Section*/
	/*------------------------------------------*/
	.learning_section .content {
		margin-top: 25px;
	}

	.learning_section .content p {
		margin-bottom: 20px;
	}

	.article_section .inner_content {
		margin-bottom: 60px;
	}

	.article_section .inner_content:last-child {
		margin-bottom: 0;
	}

	/*------------------------------------------*/
	/*	Article Section*/
	/*------------------------------------------*/
	.article_section .text_content {
		margin-top: 25px;
	}

	.article_section .custom_btn {
		margin-top: 15px;
	}

	/*------------------------------------------*/
	/*	Message Section*/
	/*------------------------------------------*/
	.message_section .text_content p {
		margin-bottom: 20px;
	}

	/*------------------------------------------*/
	/*	Social Section*/
	/*------------------------------------------*/
	.social_section .social_cunnect {
		padding: 15px;
	}

	.social_title {
		font-size: 25px;
	}

	.social_text p {
		font-size: 18px;
	}

	/*------------------------------------------*/
	/*	Social Group*/
	/*------------------------------------------*/
	.social_group .title {
		font-size: 50px;
	}



	/*------------------------------------------*/
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 991px) {

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 45px;
	}

	h3 {
		font-size: 35px;
	}

	.sidebar_btn {
		width: 100%;
		height: 40px;
	}

	.sidebar_social ul li a {
		width: 35px;
		height: 35px;
	}

	.art_l_social ul li a {
		width: 100px !important;
		font-size: 14px !important;
	}

	/*	Main Navigatiion => Header*/
	/*------------------------------------------*/
	.navbar-collapse {
		transition: .3s all ease-in-out;
	}

	.navbar-collapse.collapsing {
		height: auto !important;
		opacity: .5;
	}

	.navbar-collapse.show,
	.navbar-collapse.collapsing {
		position: absolute;
		right: 0;
		text-align: right;
		top: 90px;
		background-color: #222222;
		padding: 15px;
		z-index: 9;
	}

	.nav-item {
		padding: 5px 0px;
	}

	.navbar-expand-lg > .container {
		padding: 0 15px;
	}

	/*------------------------------------------*/
	/*	Home Banner Section*/
	/*------------------------------------------*/
	.home_banner .banner_img {
		max-width: 390px;
	}

	/*------------------------------------------*/
	/*	Learning Section*/
	/*------------------------------------------*/
	.learning_section .inner_content {
		flex-direction: column;
	}

	.learning_section .text_content {
		max-width: 100%;
	}

	.learning_section .content {
		max-width: 100%;
	}

	.learning_section .video {
		max-width: 100%;
		width: 100%;
		margin-top: 25px;
	}

	/*------------------------------------------*/
	/*	Article Section*/
	/*------------------------------------------*/
	.article_section .inner_content {
		flex-direction: column-reverse;
	}

	.article_section .image {
		max-width: 100%;
		width: 100%;
		margin-top: 25px;
	}

	.article_section .content {
		max-width: 100%;
		width: 100%;
		margin-left: 0;
	}

	/*------------------------------------------*/
	/*	testimonial Section*/
	/*------------------------------------------*/
	.testimonial_section .testimonial_images {
		max-height: 891px;
	}

	/*------------------------------------------*/
	/*	Message Section*/
	/*------------------------------------------*/
	.message_section {
		padding: 0 !important;
	}

	.message_section .contents {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.message_section .text_content {
		max-width: 100%;
		padding-left: 0px;
	}

	.message_section .image {
		max-width: 60%;
		width: 100%;
	}

	/*------------------------------------------*/
	/*	Social Group Section*/
	/*------------------------------------------*/
	.social_group .sub_title {
		max-width: 70%;
	}

	/*------------------------------------------*/
	/*	Footer Section*/
	/*------------------------------------------*/
	.footer_section {
		padding: 50px 0px;
	}

	.footer_nav {
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer_nav .navbar-brand {
		margin-bottom: 15px;
	}

	.footer_connect .title {
		text-align: center;
	}

	.footer_connect .content {
		justify-content: center;
		flex-direction: column;
	}

	.footer_connect .subscribe {
		margin-bottom: 20px;
	}

	.footer_connect {
		padding: 15px 0px;
	}

	.copyright {
		padding: 20px 0px;
		padding-bottom: 0;
	}

	/*------------------------------------------*/
	/*	Article Sidebar => Article List*/
	/*------------------------------------------*/
	.article_sidebar .subscribe {
		padding: 15px;
	}

	/*------------------------------------------*/
}

@media only screen and (max-width: 820px) {}

@media only screen and (max-width: 768px) {
	p {
		font-size: 16px !important;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 25px;
	}

	h6 {
		font-size: 12px;
	}

	.play {
		max-width: 50px;
	}

	.text_bg {
		top: 30px;
	}

	.text_bg span {
		font-size: 65px;
	}

	.alt.text_bg {
		top: 30px;
		left: 0;
	}

	.sidebar_btn {
		height: 30px;
	}

	.sidebar_social {
		max-width: 300px;
		margin: 20px auto;
	}

	.art_l_social ul li a {
		width: 55px !important;
		font-size: 14px !important;
	}

	.art_l_social ul li a.share {
		width: 100px !important;
	}

	/*------------------------------------------*/
	/*	Home Banner Section*/
	/*------------------------------------------*/
	.home_banner .banner_img {
		max-width: 230px;
	}

	/*------------------------------------------*/
	/*	Social Section*/
	/*------------------------------------------*/
	.social_title {
		font-size: 20px;
	}

	.social_text p {
		font-size: 14px;
	}

	/*------------------------------------------*/
	/*	Subscribe Section*/
	/*------------------------------------------*/
	.subscribe_section .subscribe-form img {
		max-width: 34px;
		right: 0;
		top: -53px;
		transform: rotate(-80deg);
	}

	/*------------------------------------------*/
	/*	Testimonial Section*/
	/*------------------------------------------*/
	.testimonial_section {
		padding: 0px !important;
	}

	.testimonial_section .title {
		margin-bottom: 60px;
	}

	.testimonial_section .testimonial_images {
		max-height: 750px;
	}

	.testimonial_section .inner_image:first-child {
		margin-left: 0;
	}

	.testimonial_section .inner_image {
		margin-left: 0;
	}

	/*------------------------------------------*/
	/*	Messsage Section*/
	/*------------------------------------------*/
	.message_section .image {
		max-width: 80%;
	}

	/*------------------------------------------*/
	/*	SocialGroup Section*/
	/*------------------------------------------*/
	.social_group .title {
		font-size: 40px;
	}

	.social_group .sub_title {
		font-size: 18px;
		line-height: 1.4;
	}

	/*------------------------------------------*/
	/*	Banner Section => Article List*/
	/*------------------------------------------*/
	.article_banner .title h2 {
		line-height: 1;
	}

	/*------------------------------------------*/
	/*	Article Section => Article List*/
	/*------------------------------------------*/
	.article_container .article_lists {
		max-width: 100%;
	}

	.article_sidebar {
		max-width: 100% !important;
		padding-left: 0px;
	}

	.article_sidebar .subscribe {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	/*------------------------------------------*/
	/*	Sidebar Section => Article List*/
	/*------------------------------------------*/
	.sidebar_title {
		font-size: 25px;
		text-align: center;
		margin-bottom: 20px;
	}

	.slick-initialized .slick-slide {
		margin: 0 20px;
	}

	.read_more_line {
		font-size: 16px;
	}

	.read_more_line:before {
		margin-top: 14px;
		width: calc(100% - 70px);
	}

	/*------------------------------------------*/
	/*	Article post => Articles*/
	/*------------------------------------------*/
	.article_container.single_article .container {
		padding: 15px;
	}

	.article_post img {
		width: 100%;
		margin: 0;
		margin-bottom: 25px;
	}

	/*------------------------------------------*/
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 20px;
	}

	.custom_btn {
		height: 50px;
	}

	.custom_btn_two {
		height: 50px;
	}

	.social_btn {
		height: 50px;
	}

	.text_bg {
		top: 10px;
	}

	.text_bg span {
		font-size: 45px;
	}

	.art_l_social ul li a {
		width: 60px;
		height: 30px;
		font-size: 14px;
	}

	/*------------------------------------------*/
	/*	Navigation Section*/
	/*------------------------------------------*/
	.navbar-brand {
		max-width: 160px;
	}

	.navbar {
		height: 60px;
	}

	.navbar-collapse.show,
	.navbar-collapse.collapsing {
		top: 60px;
	}

	/*------------------------------------------*/
	/*	HomeBanner Section*/
	/*------------------------------------------*/
	.home_banner .banner_img {
		max-width: 160px;
	}

	/*------------------------------------------*/
	/*	Subscribe Section*/
	/*------------------------------------------*/
	.subscribe_section .title span {
		font-size: 13px;
		font-family: 'Proxima Nova Rg', serif;
	}

	.subscribe_section .subscribe-form img {
		display: none;
	}

	/*------------------------------------------*/
	/*	Social Group Section*/
	/*------------------------------------------*/
	.social_group .inner_content {
		background-image: unset;
	}

	.social_group .sub_title {
		max-width: 100%;
	}

	/*------------------------------------------*/
	/*	Learning Section*/
	/*------------------------------------------*/
	.learning_section {
		overflow: hidden;
	}

	.learning_section .text_content {
		padding-right: 0px;
	}

	/*------------------------------------------*/
	/*	Testimonial Section*/
	/*------------------------------------------*/
	.testimonial_section .testimonial_images {
		max-height: 450px;
	}

	/*------------------------------------------*/
	/*As Seen in*/
	/*------------------------------------------*/
	.as_seen_in .logos div {
		padding: 0;
	}

	.as_seen_in .slick-slide {
		margin: 0px 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social_section .content {
		flex-direction: column;
	}

	.social_section .social_cunnect {
		max-width: 100%;
		padding: 15px;
	}

	.social_cunnect.social_icon.facebook {
		order: 1;
	}

	.social_cunnect.for_facebook {
		order: 2;
	}

	.social_cunnect.social_icon.twitter {
		order: 3;
	}

	.social_cunnect.for_twitter {
		order: 4;
	}

	.social_cunnect.social_icon.snapchat {
		order: 5;
	}

	.social_cunnect.for_snapchat {
		order: 6;
	}

	.social_cunnect.social_text_rel {
		height: auto !important;
		padding: 25px 0;
	}

	.as_seen_in .slick-dots {
		margin-top: 0px;
	}

	/*------------------------------------------*/
	/*AFooter Section*/
	/*------------------------------------------*/
	.footer_nav .nav-link {
		font-size: 13px;
	}

	.footer_social ul li {
		width: 30px;
		height: 30px;
	}

	.footer_subscribe {
		flex-direction: column;
	}

	.footer_subscribe input {
		height: 50px;
	}

	.footer_connect .sub_input {
		max-width: 100%;
		padding-left: 15px;
		margin-bottom: 15px;
	}

	.footer_connect .sub_btn {
		max-width: 100%;
		font-size: 16px;
	}

	.footer_social {
		margin-top: 20px;
	}

	/*------------------------------------------*/
	/*Banner Section => Article List*/
	/*------------------------------------------*/
	.article_banner {
		background-image: url(../images/ArticleBanner.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
		background-blend-mode: overlay;
	}

	/*------------------------------------------*/
	/*Articles Section => Article List*/
	/*------------------------------------------*/
	.article_container .articles {
		margin-bottom: 40px;
	}

	/*------------------------------------------*/
	/*Article => Articles*/
	/*------------------------------------------*/

	.article_container.single_article .article_lists .art_l_social {
		margin-top: 30px;
	}

	.author {
		margin: 50px 0px;
		flex-direction: column;
		text-align: center;
	}

	.author .image {
		margin-bottom: 20px;
	}

	/*------------------------------------------*/
}

@media only screen and (max-width: 320px) {

	/*------------------------------------------*/
	/*	Testimonial Section*/
	/*------------------------------------------*/
	.testimonial_section .testimonial_images {
		max-height: 300px;
	}

}
