/******************************************/
/****************** Style ******************/
/******************************************/

/*------------------------------------------------------------------*/
/*---------------------------Header Style---------------------------*/
/*------------------------------------------------------------------*/

/*Topbar Style------------------*/
.topbar {
	background-color: #577BEF;
	text-align: center;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topbar h6 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	margin-left: 90px;
}

.topbar h6 span {
	padding: 3px 15px;
	background-color: #EC3E34;
	margin-left: 15px;
	font-weight: 100;
}

/*Main Navigatin-------------------*/
.navbar {
	background-color: #222222;
	height: 90px;
}

.navbar-brand {
	max-width: 205px;
	padding: 0;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar-nav .nav-item .nav-link {
	color: #fff;
	font-size: 16px;
	padding: 0 35px;
	text-transform: uppercase;
	font-family: 'Proxima Nova Rg', serif;
}

.navbar-nav .nav-item .nav-link:last-child {
	padding-right: 0;
}

/*------------------------------------------------------------------*/
/*------------------------Home Banner Style------------------------*/
/*------------------------------------------------------------------*/
.home_banner {
	background-image: url('../images/red_bg.jpg');
	background-repeat: repeat;
	padding-top: 140px;
	padding-bottom: 80px;
}

.home_banner .title {}

.home_banner .title h1 {
	text-transform: uppercase;
	color: #000;
	background-image: url(../images/text_bg.jpg);
	background-repeat: repeat;
	display: table;
	padding: 0 20px;
	margin-top: -1px;
	box-shadow: 15px -5px 0px -5px #FFD914;
	line-height: .8;
}

.home_banner .title h1:first-child {
	padding-top: 15px;
	box-shadow: 10px -10px 0px #FFD914;
}

.home_banner .title h1:last-child {
	padding-bottom: 5px;
}

.home_banner .image_inner {
	margin-top: 90px;
	position: relative;
}

.title_two {
	background-image: url(../images/text_bg.jpg);
	background-repeat: repeat;
	width: 100%;
	box-shadow: 10px -10px 0px #FFD914;
	margin-top: 90px;
	padding: 20px;
}

.home_banner .banner_img {
	position: absolute;
	top: 0;
	max-width: 600px;
	transform: translateY(-100%);
	right: 0;
}

.home_banner .title_two h2 {
	color: #000;
	text-transform: uppercase;
}

/*------------------------------------------------------------------*/
/*------------------------Subscribe Section Style------------------------*/
/*------------------------------------------------------------------*/
.subscribe_section {
	background-color: #222222;
	padding: 50px 0px;
}

.subscribe_section .inner_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subscribe_section .title {
	max-width: 950px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.subscribe_section .title h3 {
	color: #fffefe;
	text-transform: uppercase;
	text-align: center;
}

.subscribe_section .title h3 > span {
	color: #FFD914;
	font-size: inherit;
}

.subscribe_section .title span {
	font-size: 25px;
	color: #fffefe;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
}

.subscribe_section .subscribe-form {
	max-width: 500px;
	width: 100%;
	margin-top: 20px;
	display: inline-flex;
	position: relative;
}

.subscribe_section .subscribe-form .form-group {
	width: 66%;
}

.subscribe_section .subscribe-form .form-group input,
.subscribe_section .sub_btn {
	height: 55px;
}

.subscribe_section .subscribe-form .form-group input {
	padding-left: 20px;
}

.subscribe_section .sub_btn {
	width: 34%;
}

.subscribe_section .subscribe-form img {
	position: absolute;
	max-width: 50px;
	right: -45px;
	top: -35px;
	transform: rotate(-45deg);
}



.next_revenue {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 10px;
}

.next_revenue span {
	color: #fff;
	font-size: 18px;
	font-family: 'Proxima Nova Rg', serif;
}



/*------------------------------------------------------------------*/
/*------------------------Learning Section Style------------------------*/
/*------------------------------------------------------------------*/

.learning_section {
	padding-top: 110px;
	padding-bottom: 120px;
}

.container-lg {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.learning_section .inner_content {}

.learning_section .content {
	margin-top: 60px;
	max-width: 600px;
	width: 100%;
}

.learning_section .content p {
	font-size: 20px;
	color: #222222;
	margin-bottom: 40px;
}

.learning_section .video {
	max-width: 700px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

/*------------------------------------------------------------------*/
/*------------------------AsSeen In Section Style------------------------*/
/*------------------------------------------------------------------*/
.as_seen_in {
	padding-top: 60px;
	padding-bottom: 90px;
	background-color: #F9F9F9;
}

.as_seen_in .title span {
	font-size: 18px;
	color: #222222;
	font-family: 'Proxima Nova Rg', serif;
	font-weight: 600;
}

.as_seen_in .title {
	text-align: center;
	margin-bottom: 35px;
}

.as_seen_in .logos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.as_seen_in .logos div {
	padding: 15px 25px;
}

/*------------------------------------------------------------------*/
/*------------------------Article Section Style------------------------*/
/*------------------------------------------------------------------*/
.article_section {
	padding-top: 120px;
	overflow: hidden;
}

.article_section .inner_content {
	display: flex;
	position: relative;
	margin-bottom: 120px;
}

.article_section .image {
	max-width: 555px;
}

.article_section .content {
	max-width: 565px;
	margin-left: 80px;
}

.article_section .text_content {
	margin-top: 50px;
}

.article_section .custom_btn {
	margin-top: 50px;
}

.article_section .text_content p {
	color: #222222;
	font-size: 20px;
	line-height: 1.4;
}

/*------------------------------------------------------------------*/
/*------------------------Article Section Style------------------------*/
/*------------------------------------------------------------------*/

.testimonial_section {
	padding-bottom: 130px;
}

.testimonial_section .title {
	text-align: center;
	margin-bottom: 120px;
	max-width: 900px;
	margin: 0 auto;
}

.testimonial_section .title h3 {
	color: #222222;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.testimonial_section .title span {
	font-size: 20px;
	color: #222222;
	font-family: 'Proxima Nova Rg', serif;
}

.testimonial_section .title .custom_btn_two {
	margin-top: 20px;
}

.testimonial_section .inner_image {
	max-width: 50%;
	margin-left: -25px;
}

.testimonial_section .inner_image:first-child {
	margin-left: 25px;
}

.testimonial_section .testimonial_images {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 1081px;
	margin-top: 80px;
}


/*------------------------------------------------------------------*/
/*------------------------Video Section Style------------------------*/
/*------------------------------------------------------------------*/
.video_section {
	padding-bottom: 60px;
}

.video_section .video {
	max-width: 910px;
	margin: 0 auto;
	width: 100%;
}

.video_section .play {
	max-width: 75px;
}

.video_section .video .video_content {
	margin-bottom: 50px;
}


/*------------------------------------------------------------------*/
/*------------------------Video Section Style------------------------*/
/*------------------------------------------------------------------*/
.message_section {
	padding: 60px 0px;
}

.message_section .title {
	max-width: 720px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 90px;
}

.message_section .title h3 {
	text-transform: uppercase;
}

.message_section .contents {
	display: flex;
	flex-direction: row;
}

.message_section .text_content {
	max-width: 50%;
	padding-left: 40px;
}

.message_section .text_content p {
	margin-bottom: 30px;
}

.message_section .image {
	padding: 0 40px;
}

.message_section .image img {
	transform: translateY(-60px);
}

/*------------------------------------------------------------------*/
/*------------------------Video Section Style------------------------*/
/*------------------------------------------------------------------*/
.social_section {
	padding: 60px 0;
}

.social_section .title {
	text-align: center;
	margin-bottom: 50px;
}

.social_section .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #FAFAFA;
}

.social_section .social_cunnect {
	max-width: 33.33%;
	padding: 40px;
}

.social_cunnect.facebook {
	background-color: #3B5A99;
}

.social_cunnect.twitter {
	background-color: #24A9E0;
}

.social_cunnect.snapchat {
	background-color: #E9E603;
}

.social_cunnect.social_icon {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social_item i {
	font-size: 80px;
	color: #fff;
}

.social_title {
	font-size: 30px;
	text-transform: uppercase;
	color: #222222;
	margin-bottom: 10px;
}

.social_text p {
	font-size: 20px;
	color: #222222;
}


/*------------------------------------------------------------------*/
/*------------------------social_group Section Style------------------------*/
/*------------------------------------------------------------------*/
.social_group {
	padding: 60px 0px;
	background-color: #222222;
}

.social_group .inner_content {
	background-image: url('../images/members.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.social_group .title {
	font-size: 70px;
	color: #fffefe;
	text-transform: uppercase;
	text-align: center;
}

.social_group .sub_title {
	font-size: 20px;
	color: #fffefe;
	max-width: 685px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	font-family: 'Proxima Nova Rg', serif;
}


/*------------------------------------------------------------------*/
/*------------------------social_group Section Style------------------------*/
/*------------------------------------------------------------------*/
.footer_section {
	background-color: #0F0F0F;
	padding-top: 50px;
}

.footer_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.footer_nav .nav-link {
	color: #fff;
	font-family: 'Proxima Nova Rg', serif;
	font-size: 16px;
	text-transform: uppercase;
}

.footer_nav .nav-link:first-child {
	padding-left: 0;
}

/*jijlj*/
.footer_connect {
	padding-top: 50px;
	padding-bottom: 40px;
}

.footer_connect .title {
	font-size: 22px;
	color: #fff;
	margin-bottom: 10px;
	font-family: 'Proxima Nova Rg', serif;
	font-weight: 600;
}

.footer_connect .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_connect .subscribe {
	max-width: 460px;
	width: 100%;
}

.footer_subscribe input {
	height: 60px;
}

.footer_subscribe {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_connect .sub_input {
	max-width: 68%;
	width: 100%;
	display: flex;
	padding-left: 20px;
}

.footer_connect .sub_btn {
	max-width: 32%;
}

.footer_social {
	max-width: 400px;
	width: 100%;
}

.footer_social ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer_social ul li {
	width: 42px;
	height: 42px;
}

.footer_social ul li a {
	width: 100%;
	height: 100%;
	/*	border: 2px solid #fff;*/
	/*	border-radius: 40px;*/
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

.footer_social ul li a:hover {
	transform: scale(1.1);
}

.copyright {
	color: #7a7a7a;
	font-size: 14px;
	text-align: center;
	padding: 40px 0px;
	font-family: 'Proxima Nova Rg', serif;
}

/*------------------------------------------------------------------*/
/*---------------Banner Section Style => Article List---------------*/
/*------------------------------------------------------------------*/
.article_banner {
	background-image: url('../images/ArticleBanner.jpg');
	padding: 130px 0px;
	background-size: cover;
	background-position: right;

}

.article_banner .title {
	max-width: 550px;
	width: 100%;
	border-bottom: 2px solid #FFD914;
	padding-bottom: 10px;
}

.article_banner .title h2 {
	color: #fff;
	text-transform: uppercase;
	line-height: .8;
}

.article_banner .date {}

.article_banner .date p {
	color: #fff;
	margin-top: 10px;
}

.article_banner .text {
	margin-top: 30px;
	max-width: 530px;
}

.article_banner .text p {
	color: #fff;
}

.article_banner .art_l_social {
	margin-top: 25px;
}

.article_banner .read_more {
	color: #577bef;
	font-size: 20px;
	margin-top: 20px;
}

/*------------------------------------------------------------------*/
/*---------------Article Lists Style => Article List---------------*/
/*------------------------------------------------------------------*/

.article_container .article_lists {
	max-width: 66%;
	width: 100%;
}

.article_container {
	padding-top: 80px;
}

.article_container .articles {
	margin-bottom: 70px;
}

.article_container .art_l_social {
	margin-top: 20px;
}

.article_container .title h3 {
	text-transform: uppercase;
}

.article_container .title {
	margin-top: 15px;
}

.article_container .date {
	margin: 10px 0px;
}

.article_sidebar {
	max-width: 34%;
	width: 100%;
	padding-left: 40px;
}

.article_sidebar .subscribe {
	background-color: #222222;
	padding: 30px;
}

.article_sidebar .subscribe .title h3 {
	color: #fff;
	text-transform: uppercase;
}

.article_sidebar .title h3 {
	color: #222222;
	text-transform: uppercase;
}

.sidebar_social ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}

.sidebar_social {
	margin: 20px 0px;
}

.sidebar_social ul li a {
	width: 55px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*	border: 2px solid #222222;*/
	border-radius: 50%;
	font-size: 20px;
	transition: all .3s ease-in-out;
}

.sidebar_social ul li a:hover {
	transform: scale(1.1);
}

.sidebar_title {
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 10px;
}

.article_sidebar .articles {
	margin-bottom: 50px;
}

/*------------------------------------------------------------------*/
/*---------------Article Body Style => Articles---------------*/
/*------------------------------------------------------------------*/
.articles .article_banner {
	padding-bottom: 240px;
}

.articles .article_lists {
	max-width: 67%;
}

.articles .article_sidebar {
	max-width: 33%;
}

.article_container.single_article {
	padding: 0;
	margin-top: -120px;
}

.article_container.single_article .container {
	max-width: 1280px;
}

.article_container.single_article .container {
	padding: 40px;
	background-color: #fff;
}

.article_container.single_article .article_lists .title {
	padding-bottom: 25PX;
	border-bottom: 1px solid #D4D4D4;
	margin-bottom: 25px;
}

.article_container.single_article .article_lists .title h2 {
	text-transform: uppercase;
	/*	line-height: .8;*/
	margin-top: -14px;
}

.article_post p {
	margin-bottom: 25px;
	color: #000000;
	font-family: 'Georgia';
	line-height: 1.3;
}

.article_post p a {
	color: #3498db;
	text-decoration: underline;
}

.article_post img {
	width: 90%;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 70px;
}

.article_container.single_article .article_lists .art_l_social {
	margin-top: 60px;
}

.author {
	display: flex;
	align-items: center;
	margin-top: 70px;
}

.author .image {
	max-width: 135px;
	width: 100%;
}

.author .info .title h3 {
	font-size: 30px;
}

.article_container.single_article .article_lists .author .title {
	padding: 0;
	border: none;
	margin: 0;
	margin-bottom: 20px;
}

.author .info {
	margin-left: 15px;
}

.author .info .desp p {
	line-height: 1.6;
	font-size: 16px;
}

.single_article .art_l_social ul li a {
	width: 180px;
}

.single_article .art_l_social ul li {
	margin-right: 5px;
}

/*

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
